certifi==2018.1.18
chardet==3.0.4
colorama==0.3.7
docutils==0.14
idna==2.6
jmespath==0.9.3
olefile==0.45.1
Pillow==9.0.0
pyasn1==0.4.2
Pygments==2.2.0
PyGObject==3.26.1
python-apt==1.6.5+ubuntu0.7
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.4
roman==2.0.0
rsa==3.4.2
screen-resolution-extra==0.0.0
six==1.11.0
urllib3==1.22
xkit==0.0.0
